@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

}

header {
  width: 100vw;
  height: 10vh;
  background: white;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: chocolate;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}